In [1]:
import pandas as pd

# Suponha que vocÃª tenha dois DataFrames df1 e df2
df1 = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6]})
df2 = pd.DataFrame({'A': [7, 8, 9], 'B': [10, 11, 12]})

In [2]:
df1

   A  B
0  1  4
1  2  5
2  3  6

In [3]:
df2

   A   B
0  7  10
1  8  11
2  9  12

In [4]:
resultado = pd.concat([df1, df2])

In [5]:
resultado

   A   B
0  1   4
1  2   5
2  3   6
0  7  10
1  8  11
2  9  12